__pycache__ 
stepik/transfer_learning/data
stepik/transfer_learning/hymenoptera_data
stepik/transfer_learning/logs
stepik/advanced_learning/data
stepik/convolution_network/data
stepik/kaggle_2_hw/data
stepik/kaggle_2_hw/journey-springfield.zip
stepik/segmentation/data
SOVKOMBANK/catboost_info

